.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em 1em;
}

.result-view {
  grid-area: 1 / 1 / 2 / 4;
}

.calculator {
  grid-area: 2 / 1 / 6 / 4;
}
